<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card" id="imported_data_card">
      <div class="card-body">
        <%= render partial: "stock_count_tiles", :locals => {:total_count => stock_items.count, :with_rfid_count => stock_items.with_rfid.count, :without_rfid_count => stock_items.without_rfid.count} %>
        <div class="row mb-3">
          <div class="col-md-3"><p class="card-title">Imported Data</p></div>
          <div class="col-md-9"><button class="btn btn-primary edit-import-data" style="float: right;" data-turbo="false">Edit</button><button class="btn btn-success save-import-data" style="float: right; margin-right: 10px; display: none;" data-turbo="false">Submit</button><button class="btn btn-info add-import-data" data-bs-toggle="modal" data-bs-target="#addStockModal" style="float: right; margin-right: 10px;" data-turbo="false">Add Stock</button><button type="button" class="btn btn-danger delete-data-sheet" id="deleteDataSheet" style="float: right; margin-right: 10px;" data-turbo="false">Delete Data Sheet</button></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table id="imported_data" class="display expandable-table dataTable" style="width:100%">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Plant</th>
                    <th>Retek Group</th>
                    <th>Retek Dept.</th>
                    <th>Retek Class</th>
                    <th>Retek Subclass</th>
                    <th>Season</th>
                    <th>EAN</th>
                    <th>RFID Number</th>
                    <th>Size</th>
                    <th>Style Code</th>
                    <th>St.Loc</th>
                    <th>Variant</th>
                    <th>MRP</th>
                    <th>SOH blocked stock</th>
                    <th>SOH without blocked stock</th>
                    <th>SOH Qty.</th>
                    <th>Value</th>
                  </tr>
                </thead>

              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
