<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-tale">
          <div class="card-body">
            <p class="mb-4">Total Stock</p>
            <p class="fs-30 mb-2" id="total_stock_count"><%= total_count %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-dark-blue">
          <div class="card-body">
            <p class="mb-4">Stock with RFID Numbers</p>
            <p class="fs-30 mb-2" id="with_rfid_count"><%= with_rfid_count %></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 stretch-card transparent">
        <div class="card card-light-danger">
          <div class="card-body">
            <p class="mb-4">Stock without RFID Numbers</p>
            <p class="fs-30 mb-2" id="without_rfid_count"><%= without_rfid_count %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>