<div class="main-panel">
  <div class="content-wrapper">
    <!-- <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Sheet Management</h3>
          </div>
        </div>
      </div>
    </div> -->
    <!-- content start -->
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Sheet Management</p>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="sheet_management" class="display expandable-table dataTable" style="width:100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Data sheet</th>
                        <th>Total no. of missed items</th>
                        <th>Total no. of sold items</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @data_sheets && @data_sheets.each do | data_sheet | %>
                        <tr>
                          <td><%= data_sheet.created_at.to_date.strftime("%d-%m-%Y") %></td>
                          <td><%= link_to data_sheet.sheet_name, '/download_sheet/'+data_sheet.id.to_s %></td>
                          <td><%= data_sheet.stock_items.count - (data_sheet.stock_items.scanned.count + data_sheet.stock_items.sold.count) %></td>
                          <td><%= data_sheet.stock_items.sold.count %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content ends -->
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
    <%# render partial: "layouts/footer" %>
  <!-- partial -->
</div>
<!-- main-panel ends -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function(){
  $('.dataTable').DataTable({
    pagingType: 'full_numbers',
    lengthChange: false,
    order: [[0, 'desc']]
  });
})
</script>